doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Carlos Oberto - Senior Full Stack Developer Portfolio')
        meta(name='author', content='Carlos Oberto')
        meta(name='google', content='notranslate')
        
        // SEO Meta Tags
        meta(name='keywords', content='Carlos Oberto, Full Stack Developer, Web Developer, PHP Developer, Laravel Developer, JavaScript Developer, Portfolio')
        meta(name='robots', content='index, follow')
        meta(name='language', content='English')
        
        // Open Graph / Social Media Meta Tags
        meta(property='og:title', content='Carlos Oberto - Senior Full Stack Developer')
        meta(property='og:description', content='Senior Full Stack Developer with over 5 years of experience in developing high-performance web applications.')
        meta(property='og:image', content='assets/img/headshot.jpeg')
        meta(property='og:url', content='https://carlosdev.site')
        meta(property='og:type', content='website')
        
        // Twitter Card Meta Tags
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Carlos Oberto - Senior Full Stack Developer')
        meta(name='twitter:description', content='Senior Full Stack Developer with over 5 years of experience in developing high-performance web applications.')
        meta(name='twitter:image', content='assets/img/headshot.jpeg')

        title Carlos Oberto - Senior Full Stack Developer

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand(href='#page-top') Carlos Oberto
                button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#portfolio') Portfolio
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#skills') Skills
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/headshot.jpeg', alt='Carlos Oberto')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Carlos Oberto
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Senior Full Stack Developer

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Experience
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Portfolio Grid Items
                .row.justify-content-center
                    // Portfolio Item 1
                    .col-md-6.col-lg-3.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/cabin.png', alt='Ingenious Agency')
                            .text-center.mt-2
                                h5 Ingenious Agency
                                p.text-muted Sr Full Stack Developer (2024 - Present)
                    // Portfolio Item 2
                    .col-md-6.col-lg-3.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/cake.png', alt='Jedari')
                            .text-center.mt-2
                                h5 Jedari
                                p.text-muted Sr PHP Developer (2023 - 2024)
                    // Portfolio Item 3
                    .col-md-6.col-lg-3.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/circus.png', alt='MagnusMas')
                            .text-center.mt-2
                                h5 MagnusMas
                                p.text-muted Sr PHP Developer (2019 - 2023)
                    // Portfolio Item 4
                    .col-md-6.col-lg-3.mb-5
                        .portfolio-item.mx-auto(data-bs-toggle='modal', data-bs-target='#portfolioModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/game.png', alt='BlueCard Ecuador')
                            .text-center.mt-2
                                h5 BlueCard Ecuador
                                p.text-muted Jr PHP Developer (2017 - 2019)

        // Project Links Section
        section#project-links.page-section.bg-primary.mb-0
            .container
                // Project Links Section Heading
                h2.page-section-heading.text-center.text-uppercase.mb-0 Project Links
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Project Links Carousel
                .row.justify-content-center
                    .col-lg-8
                        #projectLinksCarousel.carousel.slide(data-bs-ride='carousel')
                            .carousel-inner
                                .carousel-item.active
                                    .card.bg-transparent.border-light
                                        .card-body.text-center
                                            h4.card-title Ingenious Agency
                                            p.card-text Sr Full Stack Developer (2024 - Present)
                                            a.btn.btn-outline-light.btn-lg(href='https://www.jedari.com', target='_blank')
                                                i.fas.fa-external-link-alt.me-2
                                                | Visit Website
                                .carousel-item
                                    .card.bg-transparent.border-light
                                        .card-body.text-center
                                            h4.card-title Jedari
                                            p.card-text Sr PHP Developer (2023 - 2024)
                                            a.btn.btn-outline-light.btn-lg(href='https://getset.com', target='_blank')
                                                i.fas.fa-external-link-alt.me-2
                                                | Visit Website
                                .carousel-item
                                    .card.bg-transparent.border-light
                                        .card-body.text-center
                                            h4.card-title MagnusMas
                                            p.card-text Sr PHP Developer (2019 - 2023)
                                            a.btn.btn-outline-light.btn-lg(href='https://agoraexchange.com', target='_blank')
                                                i.fas.fa-external-link-alt.me-2
                                                | Visit Website
                                .carousel-item
                                    .card.bg-transparent.border-light
                                        .card-body.text-center
                                            h4.card-title BlueCard Ecuador
                                            p.card-text Jr PHP Developer (2017 - 2019)
                                            a.btn.btn-outline-light.btn-lg(href='https://bluecard.com', target='_blank')
                                                i.fas.fa-external-link-alt.me-2
                                                | Visit Website
                            // Carousel Controls
                            button.carousel-control-prev(type='button', data-bs-target='#projectLinksCarousel', data-bs-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.visually-hidden Previous
                            button.carousel-control-next(type='button', data-bs-target='#projectLinksCarousel', data-bs-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.visually-hidden Next
                            // Carousel Indicators
                            .carousel-indicators
                                button.active(type='button', data-bs-target='#projectLinksCarousel', data-bs-slide-to='0', aria-current='true', aria-label='Slide 1')
                                button(type='button', data-bs-target='#projectLinksCarousel', data-bs-slide-to='1', aria-label='Slide 2')
                                button(type='button', data-bs-target='#projectLinksCarousel', data-bs-slide-to='2', aria-label='Slide 3')
                                button(type='button', data-bs-target='#projectLinksCarousel', data-bs-slide-to='3', aria-label='Slide 4')

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About Me
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-8.mx-auto
                        p.lead.mb-5
                            | I am a Senior Full Stack Developer with over 5 years of experience in developing high-performance web applications. Based in Quito, Ecuador, I specialize in creating robust and scalable solutions using modern technologies and best practices.
                        p.lead.mb-5
                            | Throughout my career, I've worked with various companies to deliver exceptional results, consistently improving performance, user experience, and business outcomes. My expertise spans across full-stack development, with a particular focus on PHP, Laravel, and modern JavaScript frameworks.
                        p.lead.mb-5
                            | I am passionate about writing clean, maintainable code and staying up-to-date with the latest technologies and development practices. My goal is to help businesses achieve their objectives through innovative technical solutions.

        // Skills Section
        section#skills.page-section.bg-white.mb-0
            .container
                // Skills Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Skills & Expertise
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Skills Section Content
                .row
                    .col-lg-4.ms-auto
                        h4.text-uppercase.mb-4 Programming Languages
                        ul.list-unstyled
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | PHP (Advanced)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | JavaScript (Advanced)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | HTML (Advanced)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | CSS (Intermediate)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Redis (Intermediate)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Ruby (Intermediate)
                    .col-lg-4.me-auto
                        h4.text-uppercase.mb-4 Frameworks & Tools
                        ul.list-unstyled
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Laravel (Advanced)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | Livewire (Advanced)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | jQuery (Advanced)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | AWS (Intermediate)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | GCS (Intermediate)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | VueJS (Intermediate)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | ReactJS (Intermediate)
                            li.mb-2
                                i.fas.fa-check.text-primary.me-2
                                | ROR (Intermediate)

        // Contact Section
        section#contact.page-section
            .container
                // Contact Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Contact Me
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Contact Section Form
                .row.justify-content-center
                    .col-lg-8.col-xl-7
                        form#contactForm
                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...',
                                    required
                                )
                                label(for='name') Full name
                                .invalid-feedback
                                    | A name is required.

                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com',
                                    required
                                )
                                label(for='email') Email address
                                .invalid-feedback
                                    | A valid email is required.

                            // Phone number input
                            .form-floating.mb-3
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='(123) 456-7890',
                                    required
                                )
                                label(for='phone') Phone number
                                .invalid-feedback
                                    | A phone number is required.

                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;',
                                    required
                                )
                                label(for='message') Message
                                .invalid-feedback
                                    | A message is required.

                            // Submit success message
                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder.text-success Thank you for your message! I'll get back to you soon.

                            // Submit error message
                            #submitErrorMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder.text-danger Error sending message. Please try again later.

                            // Loading spinner
                            #submitLoadingMessage.d-none
                                .text-center.mb-3
                                    .spinner-border.text-primary(role='status')
                                        span.visually-hidden Loading...

                            // Submit Button
                            button#submitButton.btn.btn-primary.btn-xl(type='submit')
                                span.button-text Send Message
                                span.spinner-border.spinner-border-sm.ms-2.d-none(role='status')
                                    span.visually-hidden Loading...

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Location
                        p.lead.mb-0
                            | Quito, Ecuador (ECT)
                            br
                            | (+593) 984992610
                    // Footer Social Icons
                    .col-lg-4.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Connect With Me
                        a.btn.btn-outline-dark.btn-social.mx-1(href='mailto:carlos.oberto88@gmail.com')
                            i.fas.fa-envelope
                        a.btn.btn-outline-dark.btn-social.mx-1(href='https://www.linkedin.com/in/carlos-oberto-dev', target='_blank')
                            i.fab.fa-linkedin-in
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 About Me
                        p.lead.mb-0
                            | Senior Full Stack Developer with over 5 years of experience in developing high-performance web applications.

        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright &copy; Your Website 2023

        // Portfolio Modals
        include includes/portfolio-modal-1.pug
        include includes/portfolio-modal-2.pug
        include includes/portfolio-modal-3.pug
        include includes/portfolio-modal-4.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
        script(src='js/contact-form.js')